@import 'variables' ; 
@import 'mixins';
@import 'buttons';

body {
    font-family: $font-stack;
    color: #000;

    height: 100vh;
    @include flex-center;
    flex-direction: column;
    @include responsive(mobile){
        background-color: rgb(43, 168, 209);
    }

    @include responsive(tablet){
        background-color: lightgreen;
    }
}